* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 17% 83% ;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "nav main main main"
    "nav main main main"
    "footer footer footer footer";
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
    grid-area: header;
    background-color: #0f0f0f;
    float: left;
    justify-content: space-evenly;
    align-items: center;
}

#start.start-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.yt-logo {
    padding-left: 1.25em;
}

#center.center-div {
    display: flex;
    flex-direction: row;
    float: left;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#end.end-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: end;
}

.profile-size{
    border-radius: 100%;
    max-width: 60%;
    height: auto;
}

.search {
    float: right;
    margin: 0.7em;
}

.search input[type="text"] {
    width: 17em;
    height: 2.5em;
    border-radius: 1.5em;
    border: 0.1em grey solid;
    padding-left: 1em;
    color: white;
}

.search-input {
    border: 0.2em rgb(110, 110, 110) solid;
    border-radius: 30%;
    background: none;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 1em;
    padding-left: 1em;

}

#end.end-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.showNav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.1em white solid;
    border-bottom: 0.1em white solid;
}

.showNav::before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.4em;
    border-top: 0.1em white solid;
}

.nav {
    display: flex;
    grid-area: nav;
    background-color: #0f0f0f;
    overflow: auto;
}

.nav-box {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "dnc1"
    "dnc2"
    "dnc3";
}

.div-nav-container1 {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    justify-content: space-evenly;
    padding: 0.5em;
    grid-area: dnc1;
}

.div-nav-container2 {
    display: flex;
    margin-top: 0.7em;
    margin-left: 1em;
    border-top: 0.1em grey solid;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5em;
    grid-area: dnc2;
}

.div-nav-container3 {
    display: flex;
    margin-top: 0.7em;
    margin-left: 1em;
    border-top: 0.1em grey solid;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5em;
    grid-area: dnc3;
}

.div-nav-home {
    background-color: #414141;
    border-radius: 1em;
    padding-right: 0.4em;
}

.div-nav-channel {
    background-color: #414141;
    border-radius: 1em;
    padding-right: 0.4em;
}

.div-nav-history {
    background-color: #414141;
    border-radius: 1em;
    padding-right: 0.4em;
}

.div-nav-liked {
    background-color: #414141;
    border-radius: 1em;
    padding-right: 0.4em;
}

.div-nav-settings {
    background-color: #414141;
    border-radius: 1em;
    padding-right: 0.4em;
}

.div-nav-send-feedback {
    background-color: #414141;
    border-radius: 1em;
    padding-right: 0.4em;
}

.style-nav-anchor {
    display: flex;
    text-decoration: none;
    color: inherit;
}

.style-nav-img {
    background: none;
    border: none;
    max-width: 1.5em;
    height: auto;
    padding: 1em;
}

.style-nav-text {
    display: flex;
    align-items: center;
    color: white;
}

.main {
    grid-area: main;
    background-color: #0f0f0f;
}

.main-box {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "navF navF"
    "divC divC"
    "divC divC";
    
}

.container-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-filter {
    width: 90%;
    grid-area: navF;
}

.nav-filter button[name="filter"] {
    margin-left: 1em;
    padding: 0.7em;
    background: none;
    background-color: #272727;
    border: none;
    border-radius: 1em;
    color: white;
    cursor: pointer;
    transition-duration: 500ms;
}

.nav-filter button[name="filter"]:hover {
    background-color: #414141;
}

.div-main-contents {
    display: flex;
    height: auto;
    margin: 1em;
    grid-area: divC;
}

.div-main-contents-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "div1 div1 div1 div1"
    "div2 div2 div2 div2"
    "div3 div3 div3 div3";
}

.div-main-row1 {
    display: flex;
    grid-area: div1;
}

.div-main-row2 {
    display: flex;
    grid-area: div2;
}

.div-main-row3 {
    display: flex;
    grid-area: div3;
}

.div-main-row1-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
    "d1Item1 d1Item2 d1Item3 d1Item4";
}

.div-main-row2-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
    "d2Item1 d2Item2 d2Item3 d2Item4";
}

.div-main-row3-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
    "d3Item1 d3Item2 d3Item3 d3Item4";
}

.style-item-margin {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 1em;
}

.div1-item1 {
    display: flex;
    grid-area: d1Item1;
}

.div1-item2 {
    display: flex;
    grid-area: d1Item2;
}

.div1-item3 {
    display: flex;
    grid-area: d1Item3;
}

.div1-item4 {
    display: flex;
    grid-area: d1Item4;
}

.div2-item1 {
    display: flex;
    grid-area: d2Item1;
}

.div2-item2 {
    display: flex;
    grid-area: d2Item2;
}

.div2-item3 {
    display: flex;
    grid-area: d2Item3;
}

.div2-item4 {
    display: flex;
    grid-area: d2Item4;
}

.div3-item1 {
    display: flex;
    grid-area: d3Item1;
}

.div3-item2 {
    grid-area: d3Item2;
}

.div3-item3 {
    grid-area: d3Item3;
}

.div3-item4 {
    grid-area: d3Item4;
}

.div-container-style {
    display: flex;
    flex-direction: column;
}


.yt-thumbnail a{
    display: flex;
}

.yt-details {
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
}

.yt-meta-details {
    display: block;
}

.yt-title {
    margin-top: 0.5em;
    color: white;
}

.yt-title-text {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 100%;
}

.yt-title a {
    text-decoration: none;
    color: inherit;
}

.yt-channel-logo a{
    display: flex;
    justify-content: start;
}

.yt-channel-name {
    display: flex;
    margin-top: 0.5em;
    color: #414141;
}

.yt-channel-name a {
    text-decoration: none;
    color: inherit;
}

.yt-meta-data {
    display: flex;
    flex-direction: row;
    color: #414141;
}

.yt-video-views {
    display: flex;
}

.yt-video-upload-time {
    display: flex;
    margin-left: 0.5em;
}

.style-meta-data-font-size {
    font-size: 0.8em;
}

.style-img-size {
    max-width: 100%;
    height: auto;
    border-radius: 1em;
}

.style-img-size-logo {
    max-width: 2.5em;
    height: auto;
    margin-top: 0.4em;
    margin-right: 0.8em;
    border-radius: 100%;
}

.footer {
    grid-area: footer;
    background-color: blueviolet;
}